/* Reset styles */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
html, body { height: 100%; }

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

#root {
    display: block;
    width: 94%;
    margin: 0 3%;
}

#shelf {
    display: grid;
    grid-gap: 10%;

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: dense;
}

.block {
    position: relative;
    border: 1px solid #ffffff;
    width: 100%;
    font-size: 2vw;
    aspect-ratio: 1;
    overflow: hidden;
    word-wrap: break-word;
}
